---
import Rrss from "../components/Rrss.astro";
---

<section
    id="aboutme"
    class=" md:grid md:grid-cols-2 md:grid-rows-1 gap-2 animate-fade-down animate-ease-in flex flex-col text-zinc-800
    "
>
    <div class="flex items-center justify-center rounded-full">
        <img
            class="rounded-full max-w-56 filter drop-shadow-xl "
            src="images/bighead.svg"
            alt=""
        />
    </div>
    <div
        class="group tras backdrop-blur-sm bg-zinc-900/70 border border-solid
					border-zinc-200/50 py-10 px-10 rounded-2xl text-zinc-200
                    hover:bg-zinc-100 transition ease-in-out duration-300
                    hover:translate-x-10 hover:text-zinc-900 hover:shadow-2xl"
    >
        <h4 class="text-4xl font-bold mb-2">Hola, Bienvenidos</h4>
        <p class="mb-2">
            Soy Camilo Lehue, Ingeniero de Software
            <span class="font-semibold">Biomédico</span>, Aportando con el
            desarrollo de mejoras y soluciones para el área de la salud. Con
            experiencia de
            <span class="font-bold text-yellow-300 group-hover:text-sky-500 transition ease-in-out duration-300">+2</span> Años.
        </p>
        <p class=" mb-5">Desde la Ciudad de Puerto Montt, Chile</p>

        <Rrss/>

    </div>
</section>
