<section
    id="experiences"
    class="grid grid-cols-2 grid-rows-1 gap-2 text-zinc-200 mt-10 animate-fade-down">
    <div>
        <h2
            class="text-zinc-300/90 font-black bg-zinc-800 rounded-full px-5 w-32 text-center border-b-2 border-zinc-800 py-1 mb-7"
        >
            Experiencia
        </h2>
        <div class="flex items-center justify-center">
            <img
                class="filter drop-shadow-xl"
                src="../../public/images/work.svg"
                alt="Experiencia laboral"
            />
        </div>
    </div>

    <div class="text-zinc-300/90">
        <article class="mb-10 p-5 hover:bg-zinc-900/30 rounded-xl">
            <div class="flex flex-row gap-5">
                <h3 class="font-bold text-xl w-96">2022 - Actual</h3>
                <div
                    class="bg-zinc-900/40 px-5 rounded-md font-semibold flex flex-center items-center"
                >
                    FullStack
                </div>
            </div>
            <p class="text-zinc-100 font-bold">
                Sistemas Expertos - Ingeniería de Software
            </p>
            <small>Puerto Montt, Chile</small>
        </article>
        <article
            class="mb-10 bg-zinc-900/20 p-5 hover:bg-zinc-900/30 rounded-xl"
        >
            <div class="flex flex-row gap-5">
                <h3 class="font-bold text-xl w-96">2021 - 2022</h3>
                <div
                    class="bg-zinc-900/40 px-5 rounded-md font-semibold flex flex-center items-center"
                >
                    Frontend
                </div>
            </div>
            <p class="text-zinc-100 font-bold">DevAustral Innovaciones</p>
            <small>Puerto Montt, Chile</small>
        </article>
        <article class="mb-10 p-5 hover:bg-zinc-900/30 rounded-xl">
            <div class="flex flex-row gap-5">
                <h3 class="font-bold text-xl w-96">2015 - 2017</h3>
                <div
                    class="bg-zinc-900/40 px-5 rounded-md font-semibold flex flex-center items-center"
                >
                    Frontend
                </div>
            </div>
            <p class="text-zinc-100 font-bold">GosChile</p>
            <small>Calama, Chile</small>
        </article>
    </div>
</section>
