---
import Layout from "../layouts/Layout.astro";
import Proyects from "./Proyects.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Rrss from "../components/Rrss.astro";
import Experience from "./Experience.astro";



---

<Layout title="Camilo Lehue - Portfolio">
	<div
		class="section py-5 my-10 md:py-26 w-full mx-auto container lg:max-w-6xl md:max-w-2x
		 bg-zinc-900/40 backdrop-blur-md rounded-3xl p-10
		 border border-solid border-zinc-600/40"
	>
		<Header />
		<main
			class="flex flex-col gap-5 section py-16 md:py-26 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
		>
			<section
			id="aboutme"
			 class="grid grid-cols-2 grid-rows-1 gap-2 animate-fade-down animate-ease-in">
				<div class="flex items-center justify-center rounded-full">
					<img
						class="rounded-full max-w-56 filter drop-shadow-xl"
						src="images/bighead.svg"
						alt=""
					/>
				</div>
				<div
					class="backdrop-blur-sm bg-zinc-800/30 border border-solid
					border-zinc-600/10 py-10 px-10 rounded-2xl text-zinc-300 "
				>
					<h4 class="text-3xl font-bold mb-2">Hola, Bienvenidos</h4>

					<p class="mb-2">
						Soy Camilo Lehue, Ingeniero de Software
						<span class="font-semibold">Biomédico</span>, Aportando
						con el desarrollo de mejoras y soluciones para el área
						de la salud. Con experiencia de
						<span class="font-bold text-yellow-300">+2</span> Años.
					</p>
					<p class="">Desde la Ciudad de Puerto Montt, Chile</p>
					<small class="text-zinc-600">
						Este sitio esta desarrollado en <span
							class="text-red-600/60 font-bold">Astro 4</span
						> Con <span class="text-sky-500/60 font-bold"
							>TailwindCSS.</span
						>
					</small>
				</div>
			</section>
			<Rrss/>
			<Experience />
			<Proyects />
		</main>
		<Footer />
	</div>
</Layout>

<style></style>
