---
import Layout from "../layouts/Layout.astro";
import Proyects from "./Proyects.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Rrss from "../components/Rrss.astro";
import Experience from "./Experience.astro";
import Aboutme from "./Aboutme.astro";
---

<Layout title="Camilo Lehue - Portfolio">
	<div
		class="section py-5 my-10 md:py-26 w-full mx-auto container lg:max-w-6xl md:max-w-2x
		 backdrop-blur-xl rounded-3xl p-10"
	>
		<Header />
		<main
			class="flex flex-col gap-5 section py-16 md:py-26 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
		>
			<Aboutme />
			<Experience />
			<Proyects />
		</main>
		<Footer />
	</div>
</Layout>

<style></style>
