<section
    id="proyects"
    class="backdrop-blur-sm bg-zinc-800/30 border border-solid border-zinc-800/40 flex flex-col py-10 rounded-2xl gap-5 px-10 animate-fade-down"
>
    <div class="">
        <h2
            class="text-zinc-300/90 font-black bg-zinc-800 rounded-full px-5 w-32 text-center border-b-2 border-zinc-800 py-1 mb-7"
        >
            Proyectos
        </h2>
    </div>
    <div class="flex flex-col justify-center gap-3">
        <article
            class="flex flex-row justify-center gap-5 text-zinc-300 backdrop-blur-sm
				bg-zinc-700/40 shadow-lg border border-solid border-zinc-600/10 py-5 px-2 rounded-xl"
        >
            <div class="w-full md:w-1/2">
                <img
                    class="p-1 rounded-xl border border-solid border-zinc-100"
                    src="images/proyects/proyecto-1.png"
                    alt=""
                />
            </div>
            <div class="w-full md:w-1/2 md:max-w-lg flex flex-col">
                <h3 class="text-2xl font-bold text-zinc-700 dark:text-zinc-300">
                    KING OF KEY - Sistema de Torneos
                </h3>
                <div class="flex flex-wrap mt-2 flex-col">
                    <ul class="flex flex-row mb-2 gap-x-2">
                        <li>
                            <span
                                class="flex gap-x-2 rounded-full text-[10px] bg-black text-white py-1 px-5 font-semibold"
                            >
                                PHP
                            </span>
                        </li>
                        <li>
                            <span
                                class="flex gap-x-2 rounded-full text-[10px] bg-[#ff3015] text-white py-1 px-5 font-semibold"
                            >
                                HTML
                            </span>
                        </li>
                        <li>
                            <span
                                class="flex gap-x-2 rounded-full text-[10px] bg-[#24c5ff] text-white py-1 px-5 font-semibold"
                            >
                                CSS
                            </span>
                        </li>
                    </ul>
                    <p class="text-sm">
                        Proyecto automatizado, para generar eventos y torneos de
                        forma dinámica, dando una experiencia de usuario
                        satisfactoria.
                    </p>
                    <p class="text-sm mt-2">
                        Mejorando considerablemente la escena delciberdeporte,
                        reuniendo grandes cantidades de usuarios
                        simultáneamente.
                    </p>
                </div>
                <div class="mt-5">
                    <button
                        class="inline-flex items-center justify-center gap-2 px-5 py-1 text-base transition text-zinc-300/90 bg-zinc-800 border border-zinc-800/70
                    focus-visible:ring-yellow-500/80 text-md hover:bg-zinc-900/90 hover:border-zinc-500 group max-w-fit rounded-2xl
                     hover:text-white/90 focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
                        type="button">Código</button
                    >
                    <button
                        class="inline-flex items-center justify-center gap-2 px-5 py-1 text-base transition text-zinc-300/90 bg-zinc-800 border border-zinc-800/70
                    focus-visible:ring-yellow-500/80 text-md hover:bg-zinc-900/90 hover:border-zinc-500 group max-w-fit rounded-2xl
                     hover:text-white/90 focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
                        type="button">Live</button
                    >
                </div>
            </div>
        </article>
        <article
            class="flex flex-row justify-center gap-5 text-zinc-300 backdrop-blur-sm
				bg-zinc-700/40 shadow-lg border border-solid border-zinc-600/10 py-5 px-2 rounded-xl"
        >
            <div class="w-full md:w-1/2">
                <img
                    class="p-1 rounded-xl border border-solid border-zinc-100"
                    src="images/proyects/proyecto-2.png"
                    alt=""
                />
            </div>
            <div class="w-full md:w-1/2 md:max-w-lg flex flex-col">
                <h3 class="text-2xl font-bold text-zinc-100 dark:text-zinc-300">
                    UNASALUD - Sistema de Salud
                </h3>
                <div class="flex flex-wrap mt-2 flex-col">
                    <ul class="flex flex-row mb-2 gap-x-2">
                        <li>
                            <span
                                class="flex gap-x-2 rounded-full text-[10px] bg-black text-white py-1 px-5 font-semibold"
                            >
                                PHP
                            </span>
                        </li>
                        <li>
                            <span
                                class="flex gap-x-2 rounded-full text-[10px] bg-[#ff3015] text-white py-1 px-5 font-semibold"
                            >
                                HTML
                            </span>
                        </li>
                        <li>
                            <span
                                class="flex gap-x-2 rounded-full text-[10px] bg-[#24c5ff] text-white py-1 px-5 font-semibold"
                            >
                                CSS
                            </span>
                        </li>
                    </ul>
                    <p class="text-sm">
                        Sistema para entregar información sobre artículos de la
                        salud, desarrollado para la Universidad San Sebastián
                    </p>
                    <p class="text-sm mt-2">
                        Se implemento un panel administrativo, donde se gestiona
                        la información, los usuarios y los moderadores del sitio
                        web.
                    </p>
                </div>
                <div class="mt-5">
                    <a
                        class="inline-flex items-center justify-center gap-2 px-5 py-1 text-base transition text-zinc-300/90 bg-zinc-800 border border-zinc-800/70
                            focus-visible:ring-yellow-500/80 text-md hover:bg-zinc-900/90 hover:border-zinc-500 group max-w-fit rounded-2xl
                            hover:text-white/90 focus:outline-none focus-visible:outline-none focus-visible:ring
                            focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
                        href="https://unasalud.cl/"
                        target="_blank">Live</a
                    >
                </div>
            </div>
        </article>
    </div>
</section>
