<header
    class="flex flex-col gap-5 py-16 md:py-2 w-full mx-auto lg:max-w-4xl md:max-w-2xl p-3"
>
    <nav>
        <ul
            class="flex flex-row justify-center text-zinc-300 rounded-full px-10 gap-2 py-4 font-semibold text-md "
        >
            <li>
                <a
                    class="bg-zinc-950 px-7 py-2 rounded-full hover:bg-zinc-100 hover:text-zinc-800 hover:shado transition duration-300 ease-in-out transform flex justify-center items-baseline gap-2"
                    href="#aboutme">
                    <i class="bx bxs-dashboard"></i> Sobre mí
                </a>
            </li>
            <li>
                <a
                    class="bg-zinc-950 px-7 py-2 rounded-full hover:bg-zinc-100 hover:text-zinc-800 hover:shado transition duration-300 ease-in-out transform flex justify-center items-baseline gap-2"
                    href="#experiences">
                    <i class="bx bx-briefcase"></i> Experiencia
                </a>
            </li>
            <li>
                <a
                    class="bg-zinc-950 px-7 py-2 rounded-full hover:bg-zinc-100 hover:text-zinc-800 hover:shado transition duration-300 ease-in-out transform flex justify-center items-baseline gap-2"
                    href="#proyects">
                    <i class="bx bx-code-alt"></i> Proyectos
                </a>
            </li>
        </ul>
    </nav>
</header>
