<section class="my-10 animate-fade-up">
    <ul class="md:flex md:flex-row gap-5 w-full text-zinc-800 text-xl align-baseline justify-center items-center font-semibold">
        <li><a class="  px-7 py-2 rounded-md hover:bg-zinc-900/40 hover:text-zinc-50 transition ease-in-out duration-300 md:flex md:flex-row items-center  gap-1"
            target="_blank"
            href="https://github.com/KROHOFF"><i class='bx bxl-github'></i> Github</a></li>
        <li><a class="  px-7 py-2 rounded-md hover:bg-blue-500/40 hover:text-zinc-50 transition ease-in-out duration-300 md:flex md:flex-row items-center gap-1"
            target="_blank"
            href="https://www.linkedin.com/in/camilo-lehue-igor-1b7712234/"><i class='bx bxl-linkedin' ></i> LinkedIn</a></li>
        <li><a class="  px-7 py-2 rounded-md hover:bg-rose-500/40 hover:text-zinc-50 transition ease-in-out duration-300 md:flex md:flex-row items-center gap-1"
            target="_blank"
            href="https://www.instagram.com/camilolehue/"><i class='bx bxl-instagram' ></i> Instagram</a></li>
    </ul>
