<section class="my-10 animate-fade-up">
    <ul class="flex flex-row gap-5 w-full text-zinc-200 text-xl align-baseline justify-center items-center font-semibold">
        <li><a class=" bg-zinc-100/10 px-7 py-2 rounded-md hover:bg-zinc-900/40 hover:text-zinc-50 transition ease-in-out duration-300 flex flex-row items-center gap-1" href="#"><i class='bx bxl-github'></i> Github</a></li>
        <li><a class=" bg-zinc-100/10 px-7 py-2 rounded-md hover:bg-blue-500/40 hover:text-zinc-50 transition ease-in-out duration-300 flex flex-row items-center gap-1" href="#"><i class='bx bxl-linkedin' ></i> LinkedIn</a></li>
        <li><a class=" bg-zinc-100/10 px-7 py-2 rounded-md hover:bg-rose-500/40 hover:text-zinc-50 transition ease-in-out duration-300 flex flex-row items-center gap-1" href="#"><i class='bx bxl-instagram' ></i> Instagram</a></li>
    </ul>
